@font-face {
  font-family: DotFont;
  src: url(../webfont/FXMatrix105MonoPicaRegular.woff);
  // From http://const-iterator.de/fxmatrix/
}
body,
html {
  margin: 0;
  padding: 0;
  color: #000000;
  background: #ffffff;
  font-family: monospace;
  font-size: 12px;
}
#main_text {
  font-family: DotFont,monospace;
  font-size: 12px;
  line-height: 18px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  width: 780px;
  border: 2px solid black;
  background: #e5e1d9;
  background-image: -moz-linear-gradient(top, #e5e1d9 0px, #e5e1d9 18px, #adb07e 18px, #adb07e 36px);
  background-image: -webkit-linear-gradient(top, #e5e1d9 0px, #e5e1d9 18px, #adb07e 18px, #adb07e 36px);
  background-image: -o-linear-gradient(top, #e5e1d9 0px, #e5e1d9 18px, #adb07e 18px, #adb07e 36px);
  background-image: -ms-linear-gradient(top, #e5e1d9 0px, #e5e1d9 18px, #adb07e 18px, #adb07e 36px);
  background-image: linear-gradient(to bottom, #e5e1d9 0px, #e5e1d9 18px, #adb07e 18px, #adb07e 36px);
  background-repeat: repeat;
  border-image-repeat: repeat;
  background-size: 1em 36px;
}
#main_text img {
  max-width: 780px;
}
#main_text h1,
#main_text h2,
#main_text h3,
#main_text h4,
#main_text h5,
#main_text h6,
#main_text h7,
#main_text h8 {
  font-size: 12px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
#main_text p,
#main_text div,
#main_text ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
