<ul>
{% for p in site.pages %}
  {% if p.title == '' or p.url contains 'index'  %}
  {% else %}
    <li {% if p.url == page.url %}class="active"{% endif %} >
      <a href="{{ p.url }}">
        {{ p.title }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
<hr/>
{% for page in site.pages %}
{{ page.categories }} - {{ page.url }}<br/>
{% endfor %}

<!--
<ul>
  <li {% if page.url == '/README.html' %} class="active" {% endif %}>
    <a href="README.html">Main</a>
  </li>
</ul>
<h2>CPU</h2>
<ul>
  <li {% if page.url == '/cpu/TR3200.html' %} class="active" {% endif %}>
    <a href="cpu/TR3200.html">TR3200</a>
  </li>
  <li {% if page.url == '/cpu/DCPU-16N.html' %} class="active" {% endif %}>
    <a href="cpu/DCPU-16N.html">DCPU-16N</a>
  </li>
</ul>
<h2>DEVICES</h2>
<ul>
  <li {% if page.url == '/devices/Keyboard.html' %} class="active" {% endif %}>
    <a href="devices/Keyboard.html">Generic Keyboard</a>
  </li>
  <li {% if page.url == '/devices/TDA.html' %} class="active" {% endif %}>
    <a href="devices/TDA.html">Text Display Adapter</a>
  </li>
  <li {% if page.url == '/devices/floppy_drive.html' %} class="active" {% endif %}>
    <a href="devices/floppy_drive.html">5.25" Floppy Drive</a>
  </li>
  <li {% if page.url == '/devices/SerialConsole.html' %} class="active" {% endif %}>
    <a href="devices/SerialConsole.html">Debug Serial Consoler</a>
  </li>
</ul>
<h2>EMBED</h2>
<ul>
  <li {% if page.url == '/embed/Timers.html' %} class="active" {% endif %}>
    <a href="embed/Timers.html">P.I.T. (Timers)</a>
  </li>
  <li {% if page.url == '/embed/RTC.html' %} class="active" {% endif %}>
    <a href="embed/RTC.html">RTC</a>
  </li>
  <li {% if page.url == '/embed/RNG.html' %} class="active" {% endif %}>
    <a href="embed/RNG.html">RNG</a>
  </li>
  <li {% if page.url == '/embed/Beeper.html' %} class="active" {% endif %}>
    <a href="embed/Beeper.html">Beeper</a>
  </li>
</ul>
<h2>MISC</h2>
<ul>
  <li>
  <li {% if page.url == '/cpu/calling_convention.html' %} class="active" {% endif %}>
    <a href="cpu/calling_convention.html">Calling Conventions</a>
  </li>
  <li {% if page.url == '/LICENSE.html' %} class="active" {% endif %}>
    <a href="LICENSE.html">License</a>
  </li>
  <li {% if page.url == '/About.html' %} class="active" {% endif %}>
    <a href="About.html">About</a>
  </li>
</ul>
-->

