<div class="col1">
  <div class="main">
    <ul>
    {% for p in site.pages %}
      {% if p.title == '' or p.url contains 'index' or p.cat != 'Main' %}
      {% else %}
        <li {% if p.url == page.url %}class="active"{% endif %} >
          <a href="{{ site.base_url }}/{{ p.url }}">
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <div class="cpu">
    <h2>CPU</h2>
    <ul>
    {% for p in site.pages %}
      {% if p.title == '' or p.url contains 'index' or p.cat != 'CPU' %}
      {% else %}
        <li {% if p.url == page.url %}class="active"{% endif %} >
          <a href="{{ site.base_url }}/{{ p.url }}">
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <div class="devices">
    <h2>Devices</h2>
    <ul>
    {% for p in site.pages %}
      {% if p.title == '' or p.url contains 'index' or p.cat != 'Devices' %}
      {% else %}
        <li {% if p.url == page.url %}class="active"{% endif %} >
          <a href="{{ site.base_url }}/{{ p.url }}">
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>

<div class="col2">
  <div class="embed">
    <h2>Embed</h2>
    <ul>
    {% for p in site.pages %}
      {% if p.title == '' or p.url contains 'index' or p.cat != 'Embed' %}
      {% else %}
        <li {% if p.url == page.url %}class="active"{% endif %} >
          <a href="{{ site.base_url }}/{{ p.url }}">
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <div class="misc">
    <h2>Misc</h2>
    <ul>
    {% for p in site.pages %}
      {% if p.title == '' or p.url contains 'index' or p.cat != 'Misc' %}
      {% else %}
        <li {% if p.url == page.url %}class="active"{% endif %} >
          <a href="{{ site.base_url }}/{{ p.url }}">
            {{ p.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>


