<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="index, follow">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta name="description" content="{{site.description}}"/>
    <meta name="author" content="{{site.author}}"/>

    <base href="{{ site.baseurl }}/">
    <link rel="stylesheet" type="text/css" href="css/default.less.css" media="screen" />
  </head>
  <body>
    <article id="main_text">
      {{ content }}
    </article>
  </body>
</html>

