<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ github.project_title }}</title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{github.project_tagline}}"/>
    <meta name="author" content="{{github.owner_name}}"/>

    <base href="{{ site.baseurl }}/">
    <link rel="stylesheet" type="text/css" href="css/default.less.css" media="screen" />
  </head>
  <body>

    <!-- Mobil nav menu-->
    <nav class="hidden-lg">
{% include nav_bar.html %}
    </nav>
  
    <div class="wrapper">

      <!-- Desktop/wide screen nav menu-->
      <nav class="visible-lg">
        <h1>Documents</h1>
{% include nav_bar.html %}
      </nav>

      <div id="paper_sheet">
        <div class="holes left"></div>
        <article id="main_text">
          <!-- Test Header for width -->
          <div class="column_header">
0123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789
          </div>
          {{ content }}
        </article>
        <div class="holes right"></div>
      </div>

    </div>

    <footer>
{% include footer.html %}
    </footer>

    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

